#list {
  font-size: 24px;
  margin-top: 50px;
}

.note {
  font-family: fantasy;
}

.notesTitle {
  text-align: center;
  font-family: fantasy;
}

.theList {
  text-align: center;
  list-style-type: none;
}

.form {
  text-align: center;
  margin-top: 200px;
}
